<!-- header -->
<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-6 text-center">
            <h1 class="display-4 text-uppercase font-weight-bolder">Results Page</h1>
            <% data['Search'].forEach(function(movie) { %>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>
                            <%= movie['Title'] %>
                        </strong>
                        - <%= movie['Year'] %>
                        </li>
                </ul>
            <% }); %>
            <button class="btn"><a href="/">Search Again</a></button>
        </div>
    </div>
</div>

<!-- footer -->
<%- include('partials/footer') %>